<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todas as requisições que não são ficheiros ou diretórios existentes
    # para o index.php, passando a URL como um parâmetro.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>